{% extends "base.html" %}
{% block title %}精算 | Self Drink Bar{% endblock %}

{% block content %}
<h2>精算内容の確認</h2>

<div class="checkout-items">
    {% for cart_item in cart %}
        <div class="checkout-item">
            <div>商品番号：{{ cart_item.id }}</div>
            <div>商品名：{{ cart_item.name }}</div>
            <div>金額：{{ cart_item.price }}円</div>
            <div>数量：{{ cart_item.quantity }}</div>
            <div>小計：{{ cart_item.subtotal }}円</div>
        </div>
    {% endfor %}
</div>

<div class="checkout-total">
    税抜合計: {{ total_price }}円
    消費税: {{ (total_price * 0.1) | round(0) | int}}円
    税込合計: {{ (total_price * 1.1) | round(0) | int }}円
</div>

<a href="/cart" class="btn-back">カートに戻る</a>
<a href="/payment_method" class="btn-next">決済方法へ</a>
{% endblock %}
