{% extends "base.html" %}
{% block title %}決済 | Self Drink Bar{% endblock %}

{% block content %}
<h2 class="text-white nav-tabs">決済（疑似）</h2>
<p class="text-white comment">交通系ICカード決済（疑似）を選択しました。</p>

<div class="payment">
    <div class="pay-operation-wrapper">
        <div class="paspo-box">
            <p>交通系ICカードをタッチしてください。</p>

            <div class="ic-reader">
                <img src="/static/img/ic_reader.png" alt="ICリーダー">
            </div>

            <p id="status">読み取り待機中…</p>
        </div>
    </div>
</div>  

<form id="autoForm" action="/payment/complete" method="POST">
    <input type="hidden" name="ic_status" value="success">
</form>

<script>
    // 読み取り演出
    setTimeout(() => {
        document.getElementById("status").textContent = "読み取り中…";
    }, 6000);

    // 決済完了へ自動遷移
    setTimeout(() => {
        document.getElementById("status").textContent = "決済処理中…";
        document.getElementById("autoForm").submit();
    }, 6000);
    
</script>

{% endblock %}
