{% extends "base.html" %}
{% block title %}決済 | Self Drink Bar{% endblock %}

{% block content %}
<h2>決済（疑似）</h2>

<div class="paspo-box">
    <p>交通系ICカードをタッチしてください。</p>
    <p>※ポートフォリオ用の疑似決済です。</p>

    <div class="ic-reader">
        <img src="/static/img/ic_reader.png" alt="ICリーダー">
    </div>

    <p id="status">読み取り待機中…</p>
</div>

<form id="autoForm" action="/payment/complete" method="POST">
    <input type="hidden" name="ic_status" value="success">
</form>

<script>
    // 読み取り演出
    setTimeout(() => {
        document.getElementById("status").textContent = "読み取り中…";
    }, 4000);

    // 決済完了へ自動遷移
    setTimeout(() => {
        document.getElementById("status").textContent = "決済処理中…";
        document.getElementById("autoForm").submit();
    }, 4000);
</script>

<div class="payment">
    決済方法: {{ method }}<br>
    税抜合計: {{ total_price }}円
    消費税　: {{ (total_price * 0.1) | round(0) | int}}円
    税込合計: {{ (total_price * 1.1) | round(0) | int }}円
</div>

<form action="/payment/complete" method="POST">
    <button type="submit" class="btn-next">決済を完了する</button>
</form>

<a href="/payment_method" class="btn-back">戻る</a>
{% endblock %}
